@import url('https://fonts.googleapis.com/css2?family=Lora:wght@600&family=Muli:ital,wght@0,400;0,900;1,700;1,800&display=swap');
h1 {
	text-align: center;
	font-family: 'Lora', serif;
	font-size: 22pt
	font-style: bold;
}
sub {
	font-family: 'Muli', sans-serif;
	font-size: 18pt
}
p {
	font-family: 'Lora', serif;
	font-family: 'Muli', sans-serif;
	font-size: 14pt; 
	margin: 1.5em;
}
ul {
	list-style-type: bullet;
	font-style: bold;
	text-align: left;
}

a href {
		text-align: center
		font color: black;
		font-size: 16pt;
}