@import url('https://fonts.googleapis.com/css2?family=Lora:wght@600&family=Muli:ital,wght@0,400;0,900;1,700;1,800&display=swap');
header {
	text-align: center;
	font-family: 'Lora', serif;
	font-size: 30px;
	font-style: bold;
}
h1
{
	text-align: left;
	font-family: 'Lora', serif;
	font-size: 24px;
	font-weight: bold;
}
h2{
	text-align: left;
	font-family: 'Lora', serif;
	font-size: 18px;
	font-weight: semi-bold;
}

nav	{ 
	text-align: center;
	font-family: 'Muli', sans-serif
	font-style:italic;
	color: black;
	padding: 12px; 
}
sub {
	text-align: center;
	font-family: 'Muli', sans-serif;
	font-size: 18px;
}
p {
	font-family: 'Lora', serif;
	font-size: 16px; 
	margin: 1.5em;
}
ul {
	font-family: 'Lora', serif;
	list-style-type: bullet;
	font-weight: bold;
	text-align: left;
}

a {
		font-family: 'Lora', serif;
		text-align: center
		color: black;
		font-size: 16px;
}
img	{ 
	300px }