
h1
h2
h3
h4
h5	
{
	font-size: 80em
	font-style: bold;
}
p { <style>
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@600&family=Muli:ital,wght@0,400;0,900;1,700;1,800&display=swap');
</style>
	font-family: font-family: 'Lora', serif;
	font-family: 'Muli', sans-serif;
	font-size: 14em; 
	margin: 2em;
}
ul {list-style-type: bullet;
	font-style: bold;
	text-align: left;
}
#slogan {color: black;
	font-size: 30em
}
a href {font color: black;
		font-size: 18em;
}