* {
	margin:0; 
	padding:0; 
	box-sizing:border-box; 
}
.clearfix:after {
visibility: hidden;
display: block;
font-size: 0;
content: " ";
clear: both;
height: 0;
}
header {
	align-content: center;
	background-color: #00000;
	border: 1px black solid;
	padding:20px;
}
h1{
	margin-top: 0.5em;
}
nav	{
	align-content: left;
	background-color: #00000;
	border: 1px black solid;
	padding:20px;
}
