@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700&display=swap');
*	{
	margin:0; 
	padding:0; 
	box-sizing:border-box;
} 
.clearfix:after {
visibility: hidden;
display: block;
font-size: 0;
content: " ";
clear: both;
height: 0;
}
body {
	font-family: Raleway, sans-serif;
}
header {
	font-weight: 400;
	font-size: 1em;
	padding: 2em;
}
nav	{
	font-weight: 400;
	font-size: 1em;
	background-color: #CDD1D3;
	overflow: auto;
}
.navbar a {
  float: left;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
  width: 25%;
  text-align: center;
}

p {
	text-align: left;
}
h1 {
	font-weight:600;
	font-size:1.5em;
	align-content:left;
	background-color: #CDD1D3;
	padding: 0.5em;
}
h2 {
	align-content:left;
	font-size:1em;
	font-weight:600;
	padding: 0.5em;
}
img {
	size: 500px;
	}

.fa {
  	padding: 20px;
  	font-size: 40px;
  	width: 60px;
  	float: right;
  	text-decoration: none;
  	margin: 1em;
}

.fa-facebook {
	background: #000;
  	color: white;
}

.fa-twitter {
	background-color: #000;
	color: white;
}

.fa-instagram {
	background-color: #000;
	color: white;
}
.about {
	display:block;
	margin: 1 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}


