@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700&display=swap');
*	{
	margin:0; 
	padding:0; 
	box-sizing:border-box;
} 
.clearfix:after {
visibility: hidden;
display: block;
font-size: 0;
content: " ";
clear: both;
height: 0;
}
body {
	font-family: Raleway, sans-serif;
}

header. top-bar {
	background-color: #CDD1D3;
}

header {
	font-weight: 400;
	font-size: 1em;
	padding: 1em;
	border-right: 1px solid black;
	background-color: #FFF;
}

nav	{
	font-weight: 400;
	font-size: 1em;
	background-color: #CDD1D3;
	overflow: auto;
}
.navbar-right {
  float: right!important!;
  padding: 1em;
  color: black;
  font-size: 400;
  width: 10em;
  text-align: center;
}

p {
	text-align: left;
}
h1 {
	font-weight:600;
	font-size:1.5em;
	align-content:left;
	background-color: #CDD1D3;
	padding: 0.5em;
}
h2 {
	align-content:left;
	font-size:1em;
	font-weight:600;
	padding: 0.5em;
}

.fa {
  	padding: 20px;
  	font-size: 40px;
  	width: 60px;
  	float: right;
  	text-decoration: none;
  	margin: 1em;
}

.fa-facebook {
	background: #000;
  	color: white;
}

.fa-twitter {
	background-color: #000;
	color: white;
}

.fa-instagram {
	background-color: #000;
	color: white;
}
.about {
	display:block;
	margin: 1 auto;
	background-color: #CDD1D3;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}
div="wrapper" {
	background-color: white;
}


