p {
	font-family: georgia, serif;
	font-size: 20px;
	line-height: 1.4em;
}
body {
  	background: #333;
}
div {
  	background: #c0dec5;
  	margin: 4em;
  	padding: 2em 3em 0 3em;
}
span {
  	font-variant: small-caps;
  	font-family: Tahoma, sans-serif;
  	letter-spacing: .25em;
  	padding: 0 .2em;
  	background: rgba(100,150,150,.5);