nav	{
	align-content: center;
	background-color: #E8C66A;
	border: 1px black solid;
	padding:20px;
}
article {
	background-color: #E89C6C;
	border: 1px black solid;
	padding:20px;
}
aside {
	background-color: #FFC675;
	border: 1px black solid;
	padding:20px;
}
footer {
	background-color: #D4CFF3;
	border:1px black solid
	padding:20px;
}
section {
	background-color: #DBD4D2;
	border:1px black solid;
	padding:20px;
}